#editor_body {
  position: absolute;
  top: 80px;
  left:260px;
  height: auto;
  width: 500px;
  background-color: inherit;
}
#insertdrop
{
font-size:10pt;
}

#filedrop{
  font-size: 10pt
}

#submit-btn{
  bottom: 10px;
  align:right;
  float:right;
}

#coverbody{
  font-weight: bold;
  align-content: center;
}
#team_info{
  align-items:center;
  align:center;
}
#coverpage_btn{
  align-self:right;
}
