#editor_body {
  position: absolute;
  top: 80px;
  left:260px;
  height: auto;
  width: 500px;
  background-color: inherit;
}
#insertdrop
{
font-size:10pt;
}

#filedrop{
  font-size: 10pt
}
<<<<<<< HEAD
#submit{
  bottom: 10px;
  position: absolute;
}
=======
>>>>>>> 036c49a229eb3b20c9230aab83bd14df32b170ad

#submit-btn{
  align:right
  float:right;
}
