#editor_body {
  position: absolute;
  top: 80px;
  left:260px;
  height: auto;
  width: 500px;
  background-color: inherit;
}

#insertdrop
{
  font-size:10pt;
}

#filedrop{
  font-size: 10pt
}

#submit-btn{
  bottom: 10px;
  align:right;
  float:right;
}


#coverbody{
  font-weight:bold;
  font-size:14;
  
  border:1px solid black ;
  padding:1cm;
  }

#team_info{
  align-items:center;
  align:center;
}
#coverpage_btn{
  align-self: baseline;
  background-color: green;
  width:100pt;
  height:20pt;
  font-weight: bold;
  font-family: sans-serif;
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  }

page[size="A4"][layout="portrait"] {
  width: 29.7cm;
  height: 21cm;
}
team_info{
  padding:10px;

}
