<!DOCTYPE html>
<head>
  <title>cover_page_template</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="./js/jquery-linedtextarea.js"></script>
  <link href="./css/jquery-linedtextarea.css" type="text/css" rel="stylesheet">-->
  <link rel="stylesheet" type="text/css" href="./css/word.css">
</head>
<body id="coverbody" align="center">
  <page siz="A4" layout="portrait">
    <div id="college-info">
      <h2>R.V.College Of Engineering,Banglore</h2>
      <h4>(Autonomous Institution Affiliated to VTU)</h4>
      <!--Enter the department-->
      <input type="text" id="department" placeholder="Enter the department"></br></br>
      <img src="C:\xampp\htdocs\PROJECT\img\RVCE_logo.jpg" alt="RVCE_logo" srcset="./img/RVCE_logo.jpg" width="120px" style="align:center"/></br></br>
      <!--Enter the semester-->
      <input type="text" id="department" placeholder="Enter the semester"></br></br>
      <!---Enter the type of report-->
      <input type="text" id="department" placeholder="Enter the report type"></br></br>
    </div>

    <p>Subject:<input type="text"placeholder="Enter the subject"/></p></br>
    <p>Topic:<input type="text" placeholder="Enter the topic"/></p></br>

    <!--Enter the student name,usn,sugnature-->
    <div  id="team_info"  align="center">
      <table   cellspacing="10px">
        <thead>
          <tr>
            <th style="align:center">Group Members</th>
            <th>USN</th>
            <th>Signature</th>
          </tr></thead>
          <tbody>
            <tr>
              <td><input type="text" placeholder="Enter the name"></td>
              <td><input type="text" placeholder="Enter the USN"></td>
              <td></td>
            </tr>
            <tr>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td></td>
            </tr>
            <tr>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td></td>
            </tr>
            <tr>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td></td>
            </tr>
            <tr>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td></td>
            </tr>
            <tr>
              <td><input type="text"></td>
              <td><input type="text"></td>
              <td></td>
            </tr>
            </  tbody>
          </table>
        </div></br>
        <div id="submission_details" align="left">
          <p>Submitted To:</p>
          <!--Enter the professor name-->
          <input type="text" placeholder="Enter the faculty name"></br>
          <!--Enter the psition-->
          <input type="text" placeholder="Enter the position"></br>
          <!--Enter the department-->
          <input type="text" placeholder="Enter the department">
          <p>R.V.College Of Engineering,Banglore</p>
          <p>(Autonomous Institution Affiliated to VTU)</p>
        </div></br>
        <button id="coverpage_btn" value="Submit" onclick="submit()">Submit</button></br></br>
      </page>
      <script>
      function submit()
      {
        console.log("Hello");
      }


      </script>
    </body>
    </html>
